@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Light.ttf) format('ttf');
    font-weight: 300;
  }

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) format('ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Medium.ttf) format('ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Bold.ttf) format('ttf');
    font-weight: 700;
  }

:root {
    --juce-orange: #F85A00;
    --nightmare: #132530;
    --smoke-gray: #B8BEC1;
    --white: #ffffff;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif, Arial, sans-serif;
    background-color: var(--nightmare);
}

.container {
    max-width: 768px;
    padding: 0 94px;
    margin: 0 auto;
}

/*? ----- NAVIGATION ----- */

.navigate {
    display: flex;
    justify-content: end;
    margin-top: 83px;
}

.btn-burger {
    background-color: transparent;
    border: none;
}

.burger-icon {
    stroke: var(--white);
}

/*? ----- NAVIGATION ----- */

/* ----- BANNER ----- */

.main {
    min-height: calc(100vh - 116px - 183px);
}

.section-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    padding-top: 140px;
}

.desc-banner {
    color: var(--smoke-gray);
    font-size: 20px;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: -0.02em;
    text-align: center;
    width: 318px;
}

/* ----- BANNER ----- */

/*! ----- CATEGORIES ----- */

.orange-item {
    background-color: var(--juce-orange);
    color: var(--white);
}

.white-item {
    background-color: var(--white);
    color: var(--nightmare);
}

.section-categories {
    padding-top: 114px;
}

.category-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 33px;
}

.category {
    width: calc((100% - 33px) / 2);
}

.category-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.012em;
    text-transform: uppercase;
    height: 127px;
    
}

/*! ----- CATEGORIES ----- */

/*TODO ----- ASSIST ----- */

.footer {
    padding-top: 70px;
    padding-bottom: 70px;
}

.assist-message {
    color: var(--smoke-gray);
    text-align: center;
    font-size: 20px;
    line-height: 1.85;
    letter-spacing: -0.02em;
}

/*TODO ----- ASSIST ----- */

/** ----- BACKDROP ----- */

.backdrop {
    height: 100vh;
    width: 100%;
    background-color: var(--nightmare);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 400ms ease-in-out;
}

/*? ----- BACKDROP-CLOSE ----- */

.close-menu {
    display: flex;
    justify-content: end;
}

.btn-close {
    border: none;
    background-color: transparent;
    margin-top: 83px;
}

.close-icon {
    stroke: var(--white);
}

/*? ----- BACKDROP-CLOSE ----- */

/* ----- BACKDROP-LIST ----- */

.is-hidden {
    overflow: hidden;
    pointer-events: none;
    transform: translateX(100%);
}

.no-scroll {
    overflow: hidden;
}

.menu-list {
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.menu-list-item{
    display: inline-flex;
}

.menu-list-item:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.menu-list-link {
    color: var(--white);
    font-size: 32px;
    line-height: 1.15;
    letter-spacing: -0.012em;
}

.menu-list-item .language-btn{
    display: flex;
    gap: 16px;
    max-width: 238px;
}

.menu-list-link{
    display: flex;
    align-items: center;
}

.hide-arrow-icon{
    fill: var(--white);
    transition: transform 200ms ease-in-out;
}

.rotate-hide-icon{
    transform: rotate(90deg);
    transition: transform 200ms ease-in-out;
}

/* ----- BACKDROP-LIST ----- */

/*! ----- BACKDROP-LANGUAGE ----- */

.languages {
    flex-direction: column;
    gap: 37px;
    padding-left: 35px;
    display: flex;
    max-height: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: all 400ms cubic-bezier(.9,-0.05,.18,.97); 
}

.language-item {
    display: flex;
    align-items: center;
    gap: 17px;
    opacity: 0.3;
}

.language-name {
    color: var(--white);
font-size: 32px;
line-height: 1.15;
letter-spacing: -0.012em;
}

.language-item-select{
    opacity: 1;
}

.language-btn {
    cursor: pointer;
}

.show {
    opacity: 1;
    margin-top: 39px;
    max-height: 259px;
    transition: all 400ms cubic-bezier(.9,-0.05,.18,.97);
}

/*! ----- BACKDROP-LANGUAGE ----- */

/** ----- BACKDROP ----- */
