@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Light.ttf) format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Medium.ttf) format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.ttf) format("ttf");
  font-weight: 700;
}

:root {
  --juce-orange: #f85a00;
  --nightmare: #132530;
  --nightmare-light: #1f3340;
  --smoke-gray: #b8bec1;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  margin: 0;
  font-family: "Ubuntu", sans-serif, Arial, sans-serif;
  background-color: var(--nightmare);
}

.container {
  max-width: 768px;
  padding: 0 94px;
  margin: 0 auto;
}

/*? ----- NAVIGATION ----- */

.navigate {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}

.btn-back {
  fill: var(--white);
}

.interactive-nav {
  display: flex;
  align-items: center;
}

.language-choose {
  margin-right: 33px;
  width: 53px;
  height: 33px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 20px;
}

.language-choose option {
  color: var(--nightmare);
}

.btn-burger {
  background-color: transparent;
  border: none;
}

.burger-icon {
  stroke: var(--white);
}

/*? ----- NAVIGATION ----- */

/* ----- BANNER ----- */

.main {
  min-height: calc(100vh - 116px - 183px);
}

.section-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  padding: 140px 0 114px 0;
}

.desc-banner {
  color: var(--smoke-gray);
  font-size: 20px;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: -0.02em;
  text-align: center;
  width: 318px;
}

/* ----- BANNER ----- */

/*! ----- CATEGORIES ----- */

.orange-item {
  background-color: var(--juce-orange);
  color: var(--white);
}

.white-item {
  background-color: var(--white);
  color: var(--nightmare);
}

.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 33px;
}

.category {
  width: calc((100% - 33px) / 2);
}

.category-link {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
  text-align: center;
  height: 127px;
}

/*! ----- CATEGORIES ----- */

/*TODO ----- ASSIST ----- */

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.assist-message {
  color: var(--smoke-gray);
  text-align: center;
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
}

/*TODO ----- ASSIST ----- */

/** ----- BACKDROP ----- */

.backdrop {
  height: 100vh;
  width: 100%;
  background-color: var(--nightmare);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 400ms ease-in-out;
  z-index: 1;
}

/*? ----- BACKDROP-CLOSE ----- */

.close-menu {
  display: flex;
  justify-content: end;
}

.btn-close {
  border: none;
  background-color: transparent;
  margin-top: 83px;
}

.close-icon {
  stroke: var(--white);
}

/*? ----- BACKDROP-CLOSE ----- */

/* ----- BACKDROP-LIST ----- */

.is-hidden {
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  left: 100vw;
}

.no-scroll {
  overflow: hidden;
}

.menu-list {
  padding-top: 74px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.menu-list-item {
  display: inline-flex;
}

.menu-list-item:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.menu-list-link {
  color: var(--white);
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: -0.012em;
}

/* .menu-list-item .language-btn{
    display: flex;
    gap: 16px;
    max-width: 238px;
} */

.menu-list-link {
  display: flex;
  align-items: center;
}

/* .hide-arrow-icon{
    fill: var(--white);
    transition: transform 400ms ease-in-out;
}

.rotate-hide-icon{
    transform: rotate(90deg);
    transition: transform 400ms ease-in-out;
} */

/* ----- BACKDROP-LIST ----- */

/*! ----- BACKDROP-LANGUAGE ----- */

.languages {
  flex-direction: column;
  gap: 37px;
  padding-left: 35px;
  display: flex;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0.5;
  transition: all 400ms cubic-bezier(0.9, -0.05, 0.18, 0.97);
}

.language-item {
  display: flex;
  align-items: center;
  gap: 17px;
  opacity: 0.3;
  cursor: pointer;
}

.language-name {
  color: var(--white);
  font-size: 32px;
  line-height: 1.15;
  letter-spacing: -0.012em;
}

.language-item-select {
  opacity: 1;
}

.language-btn {
  cursor: pointer;
}

.show {
  visibility: visible;
  margin-top: 39px;
  opacity: 1;
  max-height: 259px;
  transition: all 400ms cubic-bezier(0.9, -0.05, 0.18, 0.97);
}

/*! ----- BACKDROP-LANGUAGE ----- */

/** ----- BACKDROP ----- */

/*? ----- MODAL ----- */

.modal-backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100vw;
  height: 100vh;
  background-color: var(--nightmare);
  position: fixed;
  top: 0;
  left: 0;
  font-size: 31px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  display: none;
}

.warehouse-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.warehouse {
  width: 300px;
  height: 100px;
  border: none;
  font-size: 31px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
}

/*? ----- MODAL ----- */

/** ----- DESCRIPTION-APPLICATION ----- */

.instruction-application-page {
  display: flex;
  flex-direction: column;
  gap: 59px;
}

.description-application {
  width: 100%;
  padding: 59px 54px;
  border: 2px solid var(--white);
  border-radius: 15px;
}

.description-content {
  display: flex;
  flex-direction: column;
  gap: 59px;
}

.description-title {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
}

.description-text {
  color: var(--smoke-gray);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

/** ----- DESCRIPTION-APPLICATION ----- */

/*? ----- INSTRUCTION-APPLICATION ----- */

.instruction-application {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.instruction-show {
  padding-bottom: 94px;
  max-height: 100%;
  visibility: visible;
  overflow: visible;
  transition: all 800ms ease-in-out;
}

.instruction-toggle {
  display: flex;
  justify-content: center;
}

.instruction-toggle-button {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  fill: var(--white);
  background-color: var(--juce-orange);
  padding: 8px 25px 8px 35px;
  border-radius: 15px;
  border: none;
}

.toggle-arrow-icon {
  transition: transform 400ms ease-in-out;
}

.rotate-instruction-arrow {
  transform: rotate(90deg);
  transition: transform 400ms ease-in-out;
}

.instruction-steps {
  /* transition: all 800ms ease-in-out; */
  display: flex;
  flex-direction: column;
  gap: 114px;
}

.step-name {
  color: var(--white);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
}

.step-description {
  color: var(--smoke-gray);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  margin-top: 10px;
}

.instruction-example-image {
  margin-top: 59px;
}

/*? ----- INSTRUCTION-APPLICATION ----- */

/*! ----- UP-BUTTON ----- */

.up-button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: var(--juce-orange);
  border-radius: 15px;
  position: fixed;
  bottom: 60px;
  right: 60px;
  border: none;
}

.up-arrow {
  transform: rotate(-90deg);
  fill: var(--white);
}

/*! ----- UP-BUTTON ----- */

/* ----- DOCUMENTS ----- */

.section-document {
  height: 800px;
}

/* ----- DOCUMENTS ----- */

/*TODO ----- CONTACTS ----- */

.shift-list {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.shift {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.dark-color {
  color: var(--nightmare);
}

.cloud-gray-color {
  color: #6d6d6d;
}

.cloud-orange-color {
  color: #ffe3d2;
}

.card {
  padding: 22px 22px 35px 22px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.card-profile-title {
  display: flex;
  align-items: center;
  gap: 22px;
}

.card-profile-img {
  border-radius: 15px;
}

.card-profile-name {
  width: 240px;
  font-size: 31px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.card-profile-name span {
  color: var(--juce-orange);
}

.card-profile-position {
  width: 268px;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.card-profile-description {
  color: var(--nightmare);
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.desc-manager {
  margin-bottom: 15px;
}

.card-profile-contacts {
  display: flex;
  gap: 35px;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.card-contact-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.tel-icon-dark {
  fill: var(--nightmare);
}

.email-icon-dark {
  fill: transparent;
  stroke: var(--nightmare);
}

.tel-icon-white {
  fill: var(--white);
}

.email-icon-white {
  fill: transparent;
  stroke: var(--white);
}

.time-icon-dark {
  fill: var(--nightmare);
}

.time-icon-white {
  fill: var(--white);
}

/*TODO ----- CONTACTS ----- */

/* ----- FAQ ----- */

.faq-search {
  width: 50%;
  height: 50px;
  margin: 0 auto 70px auto;
  padding: 0 63px 0 20px;
  display: block;
  border-radius: 15px;
  background-color: var(--nightmare-light);
  border: transparent;
  color: var(--white);
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: right 20px bottom 50%;
  background-size: 23px;
  outline: none;
  transition: border 500ms ease;
}

.faq-search:focus {
  border: 1px solid #71787b;
}

.faq-search::placeholder {
  color: #71787b;
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.faq-item {
  width: 100%;
  min-height: 70px;
  background-color: var(--nightmare-light);
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  color: var(--white);
}

.faq-arrow {
  fill: var(--white);
  pointer-events: none;
  min-width: 28px;
  min-height: 28px;
}

.question-text {
  pointer-events: none;
}

.faq-answer-item {
  width: 100%;
  color: var(--smoke-gray);
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  padding: 0 25px;
  display: flex;
  align-items: center;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  transition: all 400ms ease;
}

/* ----- FAQ ----- */

/** ----- BUS-SCHEDULE ----- */

.section-bus-schedule {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.schedule-title {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.012em;
  text-transform: uppercase;
}

.schedule-shift-item {
  width: 100%;
  background-color: var(--nightmare-light);
  border-radius: 15px;
  padding: 22px 25px;
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.bus-schedule {
  /* padding: 0; */
  padding: 0;
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  /* overflow: hidden;
  max-height: 0px; */
  opacity: 0;
  transition: all 300ms ease-in;
}

.schedule-visible {
  opacity: 1;
  margin-bottom: 0;
  max-height: 1000px;
  padding: 48px 0;
  transition: all 300ms ease-in;
}

.schedule-direction {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.schedule-direction-item {
  background-color: var(--nightmare-light);
  border-radius: 15px;
  padding: 17px 27px;
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  color: var(--white);
  display: inline-block;
}

.schedule-list-wrap {
  display: flex;
  justify-content: center;
  gap: 74px;
  padding-top: 33px;
}

.schedule-list-to {
  width: 100%;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.schedule-list-from {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.schedule-list-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.el::after {
  content: "";
  width: 11px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--white);
  border-radius: 50%;
  height: 11px;
  transition: all 300ms ease-in;
}

.el:first-child::after,
.el:last-child::after {
  background-color: var(--juce-orange);
  animation: scheduleLight 2s linear infinite;
}

.el:not(:last-child)::before {
  content: "";
  height: 68px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  border-left: 1px dashed var(--white);
  transition: all 300ms ease-in;
}

@keyframes scheduleLight {
  0% {
    outline: 1px solid transparent;
  }
  50% {
    outline: 10px solid rgba(248, 90, 0, 10%);
  }
  100% {
    outline: 1px solid transparent;
  }
}

.schedule-time {
  color: var(--smoke-gray);
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.schedule-station {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.schedule-station span {
  color: var(--juce-orange);
}

/** ----- BUS-SCHEDULE ----- */

/*TODO ----- SCHEDULE-ID ----- */

.schedule {
  margin-top: 145px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  transition: margin-top 500ms ease;
}

.id-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.id-title {
  height: 100%;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
}

.id-form {
  display: flex;
  gap: 20px;
  position: relative;
}

.label-id {
  color: var(--white);
  font-size: 18px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  position: absolute;
  top: 50%;
  left: 29px;
  transform: translateY(-50%);
}

.inputd-id {
  width: 214px;
  height: 53px;
  border-radius: 15px;
  outline: none;
  border: transparent;
  background-color: var(--nightmare-light);
  color: var(--smoke-gray);
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  padding: 0 29px 0 76px;
}

.inputd-id:focus {
  border: 1px solid #71787b;
  transition: border 500ms ease;
}

.submit-id-btn {
  display: block;
  background-color: var(--juce-orange);
  border: none;
  border-radius: 15px;
  width: 65px;
  height: 53px;
}

.id-search-icon {
  fill: transparent;
  stroke: var(--white);
  transform: scaleX(-1);
}

.info-calendar-id {
  width: 100%;
  color: var(--white);
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.info-calendar-id td {
  padding: 12px 0 12px 0;

  text-align: center;
  border-spacing: 2px;
}

.shift-grou-id td:first-child {
  padding: 0;
  font-size: 17px;
  font-weight: 700;
  background-color: var(--juce-orange);
}

.shift-grou-id td:last-child {
  font-size: 17px;
  font-weight: 700;
  color: var(--nightmare);
  background-color: var(--white);
}

.days-of-week-id td {
  width: calc((580px - 8px) / 7);
  background-color: var(--nightmare-light);
}

.schedule-list {
  margin-top: 15px;
  width: 100%;
  border-spacing: 2px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

.schedule-list td {
  text-align: center;
  padding: 12px 0 12px 0;
  width: calc((580px - 8px) / 7);
  color: var(--nightmare);
  background-color: var(--white);
}

.schedule-list td p {
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: -0.02em;
}

.schedule-list .days-behind {
  color: var(--white);
  background-color: var(--nightmare-light);
}

.schedule-list .day-off {
  color: var(--white);
  background-color: var(--juce-orange);
}

.calendar-error {
  color: rgb(132, 153, 161);
  font-size: 18px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  text-align: center;
  background-color: var(--nightmare-light);
  padding: 20px 0;
  border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.calendar-id-animate {
  animation: animateSearch 700ms ease forwards;
}

.calendar-id {
  width: 100%;
  margin-top: 200px;
  opacity: 0;
}

.calendar-animate {
  animation: animateCalendar 900ms ease 200ms forwards;
}

.id-title-animation {
  opacity: 0;
  transition: opacity 100ms ease 165ms;
}

@keyframes animateSearch {
  0% {
    margin-top: 145px;
  }
  30% {
    margin-top: 175px;
  }
  65% {
    margin-top: -150px;
  }
  100% {
    margin-top: -100px;
  }
}

@keyframes animateCalendar {
  0% {
    margin-top: 200px;
  }
  30% {
    margin-top: 20px;
    opacity: 1;
  }
  75% {
    margin-top: 50px;
    opacity: 1;
  }
  100% {
    margin-top: 50px;
    opacity: 1;
  }
}

/*TODO ----- SCHEDULE-ID ----- */

/*! ----- CLUES ----- */

.lng-clue {
  background-color: var(--juce-orange);
  color: var(--white);
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  width: 0;
  padding: 0;
  height: 91px;
  border-radius: 15px;
  position: absolute;
  top: 83px;
  right: 29%;
  transform: translateY(-28%);
  opacity: 1;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lng-clue-show {
  width: 250px;
  max-height: 100px;
  right: 32%;
  transition: all 500ms ease;
}

.lng-clue-content {
  width: 200px;
  opacity: 0;
  transition: all 500ms ease;
}

.lng-clue-content-show {
  opacity: 1;
  transition: all 500ms ease;
}

.reg-clue {
  background-color: var(--nightmare-light);
  color: var(--smoke-gray);
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: -1;
}

.reg-clue-show {
  opacity: 1;
  transition: all 1s ease;
}

.reg-clue-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

/*! ----- CLUES ----- */

/** ----- QUESTION-FORM ----- */

.backdrop-modal {
  background-color: rgba(0, 0, 0, 0.352);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.question-form {
  background-color: var(--white);
  width: 500px;
  /* min-height: 500px; */
  border-radius: 15px;
  padding: 25px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  color: var(--nightmare);
  display: flex;
  flex-direction: column;
}

@keyframes questOpenFormAnimation {
  0% {
    transform: translate(-50%, 70%);
  }
  30% {
    transform: translate(-50%, 40%);
  }
  100% {
    transform: translate(-50%, 50%);
  }
}

@keyframes questCloseFormAnimation {
  0% {
    transform: translate(-50%, 50%);
  }
  70% {
    transform: translate(-50%, 40%);
  }
  100% {
    transform: translate(-50%, 150%);
  }
}

.quest-message-hi {
  font-weight: 700;
  font-size: 30px;
}

.quest-input {
  background-color: #dbdbdb;
  border: transparent;
  outline: none;
  height: 200px;
  border-radius: 15px;
  resize: none;
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  color: var(--nightmare);
  padding: 10px 20px;
  margin-top: 30px;
  transition: border 500ms ease;
}

.quest-btns {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.close-quest-button {
  background-color: var(--white);
  outline: none;
  border: 1px solid var(--nightmare-light);
  color: var(--nightmare);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  padding: 10px;
  border-radius: 15px;
  width: calc((100% - 15px) / 2);
}

.quest-button {
  background-color: var(--juce-orange);
  outline: none;
  border: none;
  border-radius: 15px;
  color: var(--white);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  padding: 10px;
  width: calc((100% - 15px) / 2);
}

.open-form-btn {
  background-color: var(--juce-orange);
  border-radius: 50%;
  position: fixed;
  bottom: 70px;
  right: 94px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: openFormBtn 5s ease infinite;
}

@keyframes openFormBtn {
  0% {
    transform: scaleX(-1);
  }
  10% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes openFormBtnActive {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.chat-icon {
  fill: var(--white);
}

.done-icon {
  fill: rgb(60, 177, 31);
  animation: rotateDoneIconAnimation 3000ms ease forwards;
}

@keyframes rotateDoneIconAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(0deg) scale(1.2);
  }
  30% {
    transform: rotate(0) scale(1);
  }
  65% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-hidden {
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
}

.quest-done-message {
  width: 150px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--nightmare);
  font-size: 20px;
  line-height: 1.85;
  letter-spacing: -0.02em;
  font-weight: 700;
  text-align: center;
  padding: 25px 10px;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: doneMessageAnimation 2750ms ease;
}

@keyframes doneMessageAnimation {
  0% {
    width: 0px;
    height: 0px;
  }
  15% {
    width: 150px;
    height: 150px;
  }
  85% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 170px;
    height: 170px;
    opacity: 1;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

/** ----- QUESTION-FORM ----- */
