@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Light.ttf) format('ttf');
    font-weight: 300;
  }

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) format('ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Medium.ttf) format('ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Bold.ttf) format('ttf');
    font-weight: 700;
  }

:root {
    --juce-orange: #F85A00;
    --nightmare: #132530;
    --smoke-gray: #B8BEC1;
    --white: #ffffff;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif, Arial, sans-serif;
    background-color: var(--nightmare);
}

.container {
    max-width: 768px;
    padding: 0 94px;
    margin: 0 auto;
}

/*? ----- NAVIGATION ----- */

.navigate {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
}

.btn-back{
    fill: var(--white);
}

.interactive-nav {
    display: flex;
    align-items: center;
}

.language-choose {
    margin-right: 33px;
    width: 53px;
    height: 33px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 20px;
}

.language-choose option {
    color: var(--nightmare);
}

.btn-burger {
    background-color: transparent;
    border: none;
}

.burger-icon {
    stroke: var(--white);
}

/*? ----- NAVIGATION ----- */

/* ----- BANNER ----- */

.main {
    min-height: calc(100vh - 116px - 183px);
}

.section-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    padding: 140px 0 114px 0;
}

.desc-banner {
    color: var(--smoke-gray);
    font-size: 20px;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: -0.02em;
    text-align: center;
    width: 318px;
}

/* ----- BANNER ----- */

/*! ----- CATEGORIES ----- */

.orange-item {
    background-color: var(--juce-orange);
    color: var(--white);
}

.white-item {
    background-color: var(--white);
    color: var(--nightmare);
}

.category-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 33px;
}

.category {
    width: calc((100% - 33px) / 2);
}

.category-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.012em;
    text-transform: uppercase;
    text-align: center;
    height: 127px;
}

/*! ----- CATEGORIES ----- */

/*TODO ----- ASSIST ----- */

.footer {
    padding-top: 70px;
    padding-bottom: 70px;
}

.assist-message {
    color: var(--smoke-gray);
    text-align: center;
    font-size: 20px;
    line-height: 1.85;
    letter-spacing: -0.02em;
}

/*TODO ----- ASSIST ----- */

/** ----- BACKDROP ----- */

.backdrop {
    height: 100vh;
    width: 100%;
    background-color: var(--nightmare);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: all 400ms ease-in-out;
}

/*? ----- BACKDROP-CLOSE ----- */

.close-menu {
    display: flex;
    justify-content: end;
}

.btn-close {
    border: none;
    background-color: transparent;
    margin-top: 83px;
}

.close-icon {
    stroke: var(--white);
}

/*? ----- BACKDROP-CLOSE ----- */

/* ----- BACKDROP-LIST ----- */

.is-hidden {
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    left: 100vw;
}

.no-scroll {
    overflow: hidden;
}

.menu-list {
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.menu-list-item{
    display: inline-flex;
}

.menu-list-item:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.menu-list-link {
    color: var(--white);
    font-size: 32px;
    line-height: 1.15;
    letter-spacing: -0.012em;
}

/* .menu-list-item .language-btn{
    display: flex;
    gap: 16px;
    max-width: 238px;
} */

.menu-list-link{
    display: flex;
    align-items: center;
}

/* .hide-arrow-icon{
    fill: var(--white);
    transition: transform 400ms ease-in-out;
}

.rotate-hide-icon{
    transform: rotate(90deg);
    transition: transform 400ms ease-in-out;
} */

/* ----- BACKDROP-LIST ----- */

/*! ----- BACKDROP-LANGUAGE ----- */

.languages {
    flex-direction: column;
    gap: 37px;
    padding-left: 35px;
    display: flex;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0.5;
    transition: all 400ms cubic-bezier(.9,-0.05,.18,.97); 
}

.language-item {
    display: flex;
    align-items: center;
    gap: 17px;
    opacity: 0.3;
    cursor: pointer;
}

.language-name {
    color: var(--white);
    font-size: 32px;
    line-height: 1.15;
    letter-spacing: -0.012em;
}

.language-item-select{
    opacity: 1;
}

.language-btn {
    cursor: pointer;
}

.show {
    visibility: visible;
    margin-top: 39px;
    opacity: 1;
    max-height: 259px;
    transition: all 400ms cubic-bezier(.9,-0.05,.18,.97);
}

/*! ----- BACKDROP-LANGUAGE ----- */

/** ----- BACKDROP ----- */

/** ----- DESCRIPTION-APPLICATION ----- */

.instruction-application-page {
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.description-application {
    width: 100%;
    padding: 59px 54px;
    border: 2px solid var(--white);
    border-radius: 15px;
}

.description-content{
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.description-title {
    color: var(--white);
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.012em;
    text-transform: uppercase;
}

.description-text {
    color: var(--smoke-gray);
    font-size: 20px;
    line-height: 1.85;
    letter-spacing: -0.02em;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

/** ----- DESCRIPTION-APPLICATION ----- */

/*? ----- INSTRUCTION-APPLICATION ----- */

.instruction-application {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.instruction-show {
    padding-bottom: 94px;
    max-height: 100%;
    visibility: visible;
    overflow: visible;
    transition: all 800ms ease-in-out;
}

.instruction-toggle {
    display: flex;
    justify-content: center;
}

.instruction-toggle-button {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--smoke-gray);
    font-size: 20px;
    line-height: 1.85;
    letter-spacing: -0.02em;
    fill: var(--smoke-gray);
    background-color: transparent;
    border: none;
}

.toggle-arrow-icon {
    transition: transform 400ms ease-in-out;
}

.rotate-instruction-arrow {
    transform: rotate(90deg);
    transition: transform 400ms ease-in-out;
}

.instruction-steps {
    /* transition: all 800ms ease-in-out; */
    display: flex;
    flex-direction: column;
    gap: 114px;
}

.step-name {
    color: var(--white);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.012em;
    text-transform: uppercase;
}

.step-description {
    color: var(--smoke-gray);
    font-size: 20px;
    line-height: 1.85;
    letter-spacing: -0.02em;
    margin-top: 10px;
}

.instruction-example-image{
    margin-top: 59px;
}

/*? ----- INSTRUCTION-APPLICATION ----- */

.section-document {
    height: 800px;
}